.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
frontend/build/
frontend/.packages

storage/*
!storage/.gitkeep

.env
.env.*
!.env.example

*.log
